@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Noto+Sans+TC:wght@100..900&family=Zen+Maru+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Klee+One&family=Ma+Shan+Zheng&family=Noto+Sans+TC:wght@100..900&family=Zen+Maru+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Klee+One&family=Ma+Shan+Zheng&family=Noto+Sans+TC:wght@100..900&family=Zen+Maru+Gothic&family=Zen+Old+Mincho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Klee+One&family=Ma+Shan+Zheng&family=Noto+Sans+TC:wght@100..900&family=Zen+Maru+Gothic&family=Zen+Old+Mincho&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: white;
  box-shadow: 3px 3px 5px 1px #757474;
}

header div.logo {
  display: flex;
  align-items: center;
  flex: 5 1 400px;
  margin-left: 2rem;
}

header div.logo img {
  width: 6vw;
  height: 6vw;
  opacity: 0.5;
}

header div.logo h1 {
  font-size: 20px;
  color: #dda816;
  text-align: justify;
  padding-left: 10px;
  font-weight: 700;
}

header nav {
  flex: 2 1 400px;
}

header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

header nav ul li a {
  color: #33c5df;
  text-decoration: none;
  font-size: 1.35rem;
  font-style: italic;
  font-weight: 800;
}

@media screen and (max-width: 550px) {
  main section.second section.cards div.card img {
    width: 40vw;
    height: 40vw;
  }
  footer div.logo img {
    min-width: 15vw;
    min-height: 15vw;
  }
  footer nav li {
    display: none;
  }
  footer section.links {
    margin-top: 1rem;
  }
  footer section.links a img {
    min-width: 15vw;
    min-height: 15vw;
  }
}

main section.backImage {
  width: 100%;
  min-height: 90vh;
  background-image: url("../Pictures/pexels-photo-416676.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

main section.backImage div.filter {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 90vh;
  position: absolute;
  top: 0;
  z-index: -1;
}

main section.backImage h3 {
  font-size: 3.5rem;
  color: #c6c91d;
  margin: 2rem 0rem;
  line-height: 6rem;
}

main section.backImage button.start {
  background-color: #954ebe;
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

main section.second {
  min-height: 100vh;
  font-size: 25px;
  align-items: center;
  text-align: center;
}

main section.second .hh {
  line-height: 50px;
  font-family: 標楷體;
}

main section.second .hh .aa {
  background-image: url(../Pictures/seaside.jpg);
  font-weight: 500;
  font-size: 40px;
  border-radius: 30px 15px;
  padding: 15px;
}

main section.second section.cards {
  display: flex;
  width: 80%;
  min-height: 80vh;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

main section.second section.cards div.card {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  flex: 1 1 300px;
  justify-content: space-around;
  text-align: center;
}

main section.second section.cards div.card div.image-container {
  overflow: hidden;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}

main section.second section.cards div.card div.image-container img {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  transition: all 0.25s;
}

main section.second section.cards div.card div.image-container img:hover {
  transform: scale(1.2);
}

main section.second section.cards div.card h4 {
  font-size: 2rem;
  margin: 1rem 0rem;
}

main section.second section.cards div.card p {
  font-size: 1.25rem;
  line-height: 2rem;
}

main section.second section.cards div.card a {
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: #09777d;
  color: white;
  font-size: 1.25rem;
  margin: 1rem 0rem;
}

@media screen and (max-width: 400px) {
  main section.second .hh .aa {
    background-image: none;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  justify-content: space-around;
  background-color: #cfcfcf;
}

footer div.logo {
  display: flex;
  align-items: center;
  margin: 0rem 1rem;
}

footer div.logo img {
  width: 6vw;
  height: 6vw;
  padding-top: 20px;
  margin-bottom: 20px;
}

footer div.logo h1 {
  font-size: 20px;
  font-family: 微軟正黑體;
  font-weight: 600;
  padding-left: 20px;
}

footer nav {
  width: 30%;
}

footer nav ul {
  display: flex;
  list-style-type: none;
  width: 30%;
  justify-content: space-around;
  width: 100%;
  margin: 0rem 1rem;
  flex-wrap: wrap;
}

footer nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.35rem;
}

footer section.links {
  margin-top: 1rem;
}

footer section.links a {
  color: #f00c0c;
  font-weight: 600;
  margin: 0rem 1rem;
}

footer section.links a img {
  width: 6vw;
  height: 6vw;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ab15c9;
}
